<html>
<head>
<title> Connexion à l'espace patient 
</title>


<head>

<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>


<div class="textbox">
<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">				
				<h4 class="modal-title"> Recherche Analyse par patient </h4>
				
			</div>
			<div class="modal-body">
				<form method="POST" action="/Recherche">
  <label>Nom Patient : <input type="text" name="login"></label>
  <label>P I N : <input type="password" name="pswd"></label>
  
</div>

  <div class="modal-body">
  <input type="submit" name="submit" value="Recherche" />


</form>
</div>


</div>
</body>
</html>


