<html>
<head>

    <style>
        h1{
   font-size: 100px;
   color: azure;
 }
       body{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background: #34495e;
 }

 .b1 input[type = "submit"]{
 border:0;
 background: none;
 display: block;
 margin: 20px auto;
 text-align: center;
 border: 2px solid #2ecc71;
 padding: 14px 40px;
 outline: none;
 color: white;
 border-radius: 24px;
 transition: 0.25s;
 cursor: pointer;
}
.b1 input[type = "submit"]:hover{
 background: #2ecc71;
}
 </style>
<title> 
</title>
</head>
<body>
    
<h1> Analyse envoyee et enregistree avec succes  </h1> 
<h1></h1>

<form class="b1" method="POST" action="/send">
<input type="submit" name="quitter" value="Quitter" />
</form>
</body>
</html>